.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    color: black;
    padding: 15px 0;
    font-size: 1.5rem;
    border-radius: 0%;
    margin: 0;
    margin-bottom: 100px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: white;
    height: 100vh;
    overflow: hidden;

}

.box-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 30px 0;
    flex-wrap: wrap;
}

.box{
    width: 100px;
    height: 100px;
    border: 2px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.3 ease;
    font-weight: 300;
    border-radius: 0%;
}

.input-container{
    margin: 20px 0;
}

input{
    padding: 10px;
    width: 200px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0%;
}

button{
    padding: 12px 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}